.breadcrumbs {
    width: 100%;
    margin: 20px 0;
    @media screen and (max-width: 768px) {
        display: none;
    }
    ol {
        display: flex;
    }
    &__item {
        list-style-type: none;
        display: inline-flex;
        color: $prime-white;
        span {
            font-size: 1rem;
            line-height: 1.6rem;
            font-weight: 300;
        }
        a {
            color: inherit;
            text-decoration: underline;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.6rem;
            span {
                font-weight: 500;
            }
        }
        &:after {
            content: ">";
            color: initial;
            display: block;
            line-height: 1.6rem;
            padding: 0 10px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}