/* CARD
-------------------------------------------------*/


/* DEFAULT
-------------------------------------------------*/
.card {
    min-height: 200px;
    max-width: 200px;
    border: 1px solid $prime-gray;
    border-radius: 3px;
    box-shadow: 0;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .2s ease-in-out;
    &:hover {
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .16);
    }
    &__selected {
        display: block;
        border-bottom: 1px dashed $prime-gray;
        padding: 0;
        display: block;
        color: $prime-black;
        font-size: 1.1rem;
        text-transform: uppercase;
        opacity: 0;
        position: relative;
        z-index: -1;
        transform: translateY(-44px);
        visibility: hidden;
        height: 0;
        transition: all .2s ease-in-out;
    }
    &--selected {
        .card__selected {
            visibility: visible;
            height: auto;
            transform: translateY(0);      
            z-index: 1;
            padding: 10px 15px;
            opacity: 1;         
        }
    }
    &__information {
        &__main,
        &__aux {
            font-size: 1.4rem;
            line-height: 20px;
        }
    }
    &__title {
        font-size: 1.6rem;
        line-height: 24px;
    }
    &__description {
        font-size: 1.4rem;
        line-height: 20px;
    }
    &__inner {
        padding: 10px 15px;        
    }
}

/* ADDRESS
-------------------------------------------------*/

.card__address {
    max-width: 320px;
    min-width: 320px;
    margin-top: 10px;
}


/* END CARD
-------------------------------------------------*/