/* FORMS
------------------------------------*/

.form {
    width: 100%;
    position: relative;
    input,
    select,
    textarea {
        font-family: 'Open Sans', sans-serif;
    }
    &__cta {
        display: block;
        width: 100%;
        text-align: center;
    }
    &__row {
        width: 100%;
        margin-bottom: 23px;
        display: flex;
        &>div+div {
            margin-left: 10px;
        }
    }
    &__field {
        width: 100%;
        position: relative;
        $parent_element: '.form__field';
        &.age {
            max-width: 50px;
            input {
                text-align: center;
            }
        }
        &.sex {
            max-width: 140px;
        }
        &--text {
            input[type="text"],
            input[type="number"],
            input[type="email"] {
                width: 100%;
                height: 52px;
                display: block;
                border: none;
                border-bottom: 1px solid $prime-gray;
                outline: none;
                font-size: 1.6rem;
                color: $prime-black;
                padding-top: 14px;
                &:focus~#{$parent_element + __label} {
                    transform: translateY(0px);
                }
                &:focus~#{$parent_element + __bar}:before,
                &:focus~#{$parent_element + __bar}:after {
                    width: 50%;
                }
            }
            #{$parent_element + __filled} {
                &~label {
                    transform: translateY(0px);
                }
            }
            #{$parent_element + __label} {
                width: 100%;
                font-size: 1.2rem;
                color: $secon-black;
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(26px);
                transition: all 250ms ease;
                pointer-events: none;
            }
        }
        &--checkbox {
            #{$parent_element + __label} {
                font-size: 1.2rem;
                color: $secon-black;
                position: relative;
                padding-left: 26px;
                display: block;
                line-height: 1.8rem;
                user-select: none;
                pointer-events: none;
            }
            #{$parent_element + __checkbox} {
                width: 18px;
                height: 18px;
                border: 1px solid $prime-gray;
                border-radius: 2px;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: none;
            }
            &[data-checked="true"] {
                #{$parent_element + __checkbox} {
                    &:before {
                        width: 18px;
                        height: 18px;
                        position: relative;
                        display: block;
                        content: "";
                        top: -1px;
                        left: -1px;
                        background: url($icon_form_checkbox_checked) no-repeat scroll center center;
                    }
                }
            }
        }
        &--select {
            padding-top: 0;
            #{$parent_element + __label} {
                font-size: 12px;
                line-height: 100%;
                color: $secon-black;
                display: block;
                margin-bottom: 4px;
            }
            select {
                width: 100%;
                height: 36px;
                display: block;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid $prime-gray;
                border-radius: 0;
                padding: 0 10px 3px 10px;
                font-size: 1.6rem;
                color: $prime-black;
                outline: 0;
            }
            #{$parent_element + __error} {
                font-size: 12px;
                color: $prime-red;
                line-height: 19px;
            }
        }
        &--error {
            #{$parent_element + __label} {
                color: $prime-red;
            }
            #{$parent_element + __bar} {
                background: $prime-red;
            }
        }
        &__error {
            color: $prime-red;
        }
        &__bar {
            width: 100%;
            height: 2px;
            position: relative;
            display: block;
            margin-top: -1px;
            &:before,
            &:after {
                width: 0;
                height: 2px;
                content: "";
                display: block;
                background-color: $prime-gray;
                position: absolute;
                top: 0;
                transition: all 250ms ease;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }
    }
}

/* BUTTONS
----------------------------------------------------------------------------------------*/

.button {
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid transparent;
    -webkit-tap-highlight-color: transparent;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 250px;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &--black {
        width: 100%;
        background-color: $prime-black;
        color: #fff;
        display: block;
        font-weight: 700;
        &:hover {
            background-color: transparent;
            border-color: $prime-black;
            color: $prime-black;
        }
    }
    &:disabled {
        width: 100%;
        background-color: $prime-gray;
        color: #fff;
        display: block;
        cursor: default;
        &:hover {
            border: 0;
        }
    }
}

/* END BUTTONS
----------------------------------------------------------------------------------------*/

/* END FORMS
------------------------------------*/