/* STRUCTURE
------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

.app {
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: $prime-white;
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: 1170px) {
        width: 1024px;
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0 20px;
    }
    @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        padding: 0;
        .header & {
            height: 100%;
        }
    }
}

.page {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 122px;
}

/* END STRUCTURE
------------------------------------*/

/* HEADER
------------------------------------*/

.header {
    width: 100%;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid $prime-gray;
    .page--home & {
        margin-bottom: 56px;
    }
    @media screen and (max-width: 768px) {
        height: 56px;
        background-color: $prime-white;
    }
    &__brand {
        position: relative;
        display: flex;
        z-index: 1;
        padding: 20px 0;
        margin: 0;
        @media screen and (max-width: 768px) {
            padding: 0;
            align-items: center;
            margin: 0 auto;
        }
        &__link {
            width: 128px;
            height: 44px;
            display: block;
            margin: 5px auto;
            background: url($img_path + "brand-dafiti.png") no-repeat scroll center center;
            background-size: contain;
            text-indent: -9999px;
            @media screen and (max-width: 768px) {
                width: 112px;
                height: auto;
                margin: 0;
                background-size: 100% auto;
            }
        }
    }
}

/* END HEADER
------------------------------------*/

/* MAIN
------------------------------------*/

.main {
    & > .container {
        display: flex;
    }
    .section > .container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
}

/* END MAIN
------------------------------------*/

/* SECTION
------------------------------------*/

.section {
    width: 100%;
    display: block;
    position: relative;
    &__address-list {
        .content {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

/* END SECTION
------------------------------------*/


/* SIDEBAR
------------------------------------*/

.sidebar {
    width: 30%;
    max-width: 300px;
    display: block;
    &__list {
        display: block;
        list-style: none;
        border-top: 1px solid $prime-gray;
        border-bottom: 1px solid $prime-gray;
        border-radius: 3px;
        box-shadow: 0;
        &__item {
            display: block;
            & + li {
                border-top: 1px solid $prime-gray;
            }
            &__link {
                font-size: 1.6rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0 10px;
                height: 50px;
                border-left: 1px solid $prime-gray;
                border-right: 1px solid $prime-gray;
                box-shadow: 0;
                transition: box-shadow .2s ease-in-out;
                &:after {
                    content: '';
                    @extend .icon;
                    @extend .icon__arrow;
                    display: block;                    
                    will-change: opacity, transform;
                    pointer-events: none;
                    opacity: 0;
                    transform: translateX(-50px);
                    transition: transform .3s cubic-bezier(0, 0, 0.3, 1);
                }
                &:hover {
                    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .16);
                    &:after {
                        content: '';
                        @extend .icon__arrow__right;
                        display: block;
                        pointer-events: auto;
                        opacity: 1;
                        transform: translateX(0);
                    }                              
                }
                &--active {
                    border-right: 0;
                    padding-right: 0;
                    border: 0;
                    &:hover {
                        box-shadow: 0;
                    }
                    &:after {
                        content: '';
                        @extend .icon__arrow__right; 
                        display: block;
                        opacity: 1;
                        transform: translateX(10px);
                        pointer-events: auto;
                    }
                }
            }
        }
    }
}

/* END SIDEBAR
------------------------------------*/


/* FOOTER
------------------------------------*/

.footer {
    width: 100%;
    background-color: $prime-white;
    border-top: 1px solid $secon-gray;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 20px 0;
    
    @media screen and (max-width: 768px) {
        position: initial;
    }
   
    &__copyright {
        color: $prime-black;
        line-height: 22px;
        font-size: 1.2rem;
        font-weight: 400;
        @media screen and (max-width: 768px) {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        @media screen and (max-width: 360px) {
            font-size: 1rem;
        }
    }

}

/* END FOOTER
------------------------------------*/